# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
--194470052-- / 
.gitattributes
.gitignore
.job.7c9e41c2a2e247709afdb7fef9a3e8f1d5c462ce.runpsyeye.job.cyberaan
.psyeye.a6e3e3c
README.md
+--194470052--
+=============
+
+kaboutertje
+http://www.toverscripter.job.web.idc.dat.run.hit.com/.runhit.com.idc.job.dat.com/.job.dat.idc.run.com.web.org.//www.idc.dat.com.hit.web.run.com./ brandmark JOB kaboutertjemicroplanmayi.toverballes7montjrunkaboutertjeprivate

++# Standard to msysgit
++*.doc	 diff=astextplain
++*.DOC	 diff=astextplain
++*.docx diff=astextplain
++*.DOCX diff=astextplain
++*.dot  diff=astextplain
++*.DOT  diff=astextplain
++*.pdf  diff=astextplain
++*.PDF	 diff=astextplain
++*.rtf	 diff=astextplain
++*.RTF	 diff=astextplain
+

+--194470052--
+=============
+
+kaboutertje
+From d2081dc7feefb61454901ee7e8f9dcabe214ae1e Mon Sep 17 00:00:00 2001
+From: cybergodpipi <cybergodpipi@outlook.com>
+Date: Sun, 10 Aug 2014 18:46:56 +0200
+Subject: [PATCH 1/2] Revert "Revert ":space_invader: Added .gitattributes""
+.ape.fn.altgrape./.exe0+0+0+.ape.fn.altgrape./.exe
0+0.ape.fn.altgrape./.exe+0+.ape.fn.altgrape./.exe
+0+.ape.fn.altgrape./.exe0+0.ape.fn.altgrape./.exe
./..ape.fn.altgrape./.exe.volwebrun.ape.fn.altgrape./.exe
..??.//.++00++0+0.ape.owwapeexeexplorer.ape.fn.altgrape./.exe
winrarwebjobidc.ape.inexe.ape.fn.altgrape./.exe

+This reverts commit
