# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
.toverscripter.github.aan
.runtoverscripter.runner.aan
.job.run.com.runcom.toverscript.aan.on.enter.runcom.com.job.on
http://www.toverscripter.job.web.idc.dat.run.hit.com/.runhit.com.idc.job.dat.com/.job.dat.idc.run.com.web.org.//www.idc.dat.com.hit.web.run.com./
# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/.jobenterprise.toverscripterrunneraan.job

.jobenterprise.toverscripterrunneraan.job

.jobenterprise.toverscripterrunneraan.job

.jobenterprise.toverscripterrunneraan.job

.jobenterprise.toverscripterrunneraan.job

.jobenterprise.toverscripterrunneraan.job

.jobenterprise.toverscripterrunneraan.job
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.+=======================================================
+http://www.toverscripter.job.web.idc.dat.run.hit.com/.runhit.com.idc.job.dat.com/.job.dat.idc.run.com.web.org.//www.idc.dat.com.hit.web.run.com./ brandmark JOB
+kaboutertjemicroplanmayi.toverballes7montjrunkaboutertjeprivate
.toverscripterrunner.aan.cybergodpipi./.kaboutertje.mongool.gidhub.include.duckduck.goall.comunitie.aan
.toverscripter.kaboutertjemonjgoolgridhupincludeduckduckgoallcomunitie
http://www.toverscripter.job.web.idc.dat.run.hit.com/.runhit.com.idc.job.dat.com/.job.dat.idc.run.com.web.org.//www.idc.dat.com.hit.web.run.com./.brandmark.JOB.kaboutertje.micro.plan.may.i.toverballes.7montj.run.kaboutertje.private.toveraan
http://www.toverscripter.job.web.idc.dat.run.hit.com/.runhit.com.idc.job.dat.com/.job.dat.idc.run.com.web.org.//www.idc.dat.com.hit.web.run.com./
